body {
    background-color: $white;
}


.header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $darkred;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.colom-left {
    float: left;
}

.colom-right {
    float: right;
}