html {
    background-color: $lightpurple;
    color: $white;
}

body {
    color: inherit;
}

h1 {
    font-weight: bold;
}

.custom-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: $purple;
    color: $white;
}

//navbar styling
.navbar {
    background-color: $purple;
    color: $white;

    .navbar-burger {
        &:hover, &:active, &:focus {
            background-color: lighten($purple, 10%);
            color: inherit;
        }
    }

    .navbar-menu {
        color: inherit;
        @include transition(1s, all);
        &.is-active {
            background-color: lighten($purple, 5%);
            color: inherit;
        }
    }

    .navbar-item {
        color: inherit;
        &:hover {
            background-color: lighten($purple, 15%);
            color: inherit;
        }

        &:active, &:focus {
            background-color: ligten($purple, 20%);
            color: inherit;
        }
    }
}

//container for homepage, aligning cv panel and content panel besides each other.
.main-container {
    color: inherit;
}

//spacer to align content neatly in the center
.spacer {
    width: 20%;
}

//main content
.content-container {
    width: 60%;
    text-align: center;
    overflow: scroll;
    color: inherit;

}

//cv style
.cv-panel {
    width: 20%;
    color: inherit;
}

//project style
.expansion-panel__container {
    background-color: $green;
    margin: 2%;
    color: $darkgreen;
}
.card {
    background-color: inherit;
    color: $darkgreen;
}