button, .btn-info:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

.btn-project {
    @include transition;
    color: $darkred;

    &:hover, :active {
        color: $red;
        text-decoration: underline;
    }
}

.btn, .btn-info {
    @include bp-xs {
        height: 60px;
        width: 60px;
    }
    @include bp-md {
        height: 60px;
        width: 60px;
    }
    @include inset-box-shadow;
    @include transition;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin-bottom: -65px;
    margin-top: -33px;
    position: relative;
    z-index: 900;

    &:focus {
        outline: 0;
    }
}

.btn-socialmedia {
    @include bp-xs {
        height: 55px;
        width: 55px;
        font-size: 12px;
    }
    @include bp-md {
        height: 55px;
        width: 55px;
        font-size: 12px;
    }

    @include inset-box-shadow;
    @include transition;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    outline: none;
    color: $white;
    background-color: $lightergrey;
    margin-left: 10px;
    margin-right: 10px;

    .fa {
        line-height: 48px;
    }

    &:focus {
        outline: 0;
    }
    &:hover {
        background: $darkred;
        color: $white;
    }
}

.btn-state {
    @include inset-box-shadow;
    @include transition;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: $darkgrey;
    background-color: $lightergrey;
    text-decoration: none;
    font-family: $font-heading;
    font-size: 20px;
    letter-spacing: -0.3px;

    &:focus {
        outline: 0;
    }
    &:hover {
        background: $darkred;
        color: $white;
        text-decoration: none;
    }
}

.active {
    background: darken($red, 20%);
    color: $white;
    text-decoration: none;
}


