.base-field {
    @include inset-box-shadow;
    background-color: $silvergrey;
    color: $darkgrey;
    font-family: $font-body;
    font-weight: bold;
    height: 28.5px;
    width: 220px;
    position: relative;
    //  margin: 10px 0 0 10px;
    border: 1px solid $lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    display: block;

    &:hover,
    &:focus {
        border: 1px solid $darkgrey;
    }

    &::placeholder {
        color: darken($lightergrey, 20%);
        font-weight: bold;
    }
}

.field-active {
    color: darken($lightergrey, 20%);
    font-weight: bold;
}

.base-label {
    font-family: $font-body;
    color: $darkgrey;
}