$black: #622529;
$darkred: #730012;
$red: #B50011;
$darkgreen: #7F9B2C;
$green: #ABCA4C;
$lightgreen: #ABCA4C;
$darkgrey: #73635D;
$mediumgrey: #7F7977;
$lightgrey: #BFB5B3;
$lightergrey: #DFDAD9;
$silvergrey: #F8F8F8;
$white: #F6FCE7;

$font-heading: 'museosansw01-rounded700Rg', sans-serif;
$font-body: 'museosansw01-rounded300Rg', serif;

$url-img: "../../assets/img/";
