$blue: #0BC1C1;
$black: #262117;
$darkgrey: #73635D;
$mediumgrey: #7F7977;
$lightgrey: #BFB5B3;
$lightergrey: #DFDAD9;
$silvergrey: #F8F8F8;
$white: white;

$font-heading: 'museosansw01-rounded700Rg', sans-serif;
$font-body: 'museosansw01-rounded300Rg', serif;

$url-img: "../../../Assets/dist/Img/";
