$white: #F6FCE7;
$purple: #38368a;
$lightpurple: #a9a6df;
$darkgreen: #919f4a;
$green: #dde182;

$font-heading: 'museosansw01-rounded700Rg', sans-serif;
$font-body: 'museosansw01-rounded300Rg', serif;

$url-img: "../../assets/img/";
